@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* background colours */
    --colour-background-500: #0b0b0b;
    --colour-background-400: #0f0f0f;
    --colour-background-300: #1e1e1e;
    --colour-background-200: #212121;
    --colour-background-100: #2e2e2e;

    /* primary colours */
    --colour-primary-900: #080311;
    --colour-primary-800: #0F0622;
    --colour-primary-700: #140A37;
    --colour-primary-600: #1c0d42;
    --colour-primary-500: #5c27ce;

    /* text colours */
    --colour-text-500: #ffffff;
    --colour-text-400: #b9b9c3;
    /* --colour-text-300: #1e1e1e; */
    /* --colour-text-200: #212121; */
    /* --colour-text-100: #2e2e2e; */

    /* font stuff */
    --ff: "Barlow", sans-serif;
    --h1: bold 64px/75px var(--ff);
    --h2: bold 48px/60px var(--ff);
    --h3: bold 36px/45px var(--ff);
    --h4: bold 24px/30px var(--ff);
    --h5: bold 16px/20px var(--ff);
    --lp: 24px/30px var(--ff);
    --p: 16px/20px var(--ff);
    --btn: bold 18px/24px var(--ff);

    /* other stuff */
    --border: 1px var(--colour-background-300) solid;
    --page-side-padding: calc((100dvw - 1100px) / 2);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font: var(--h1);
    color: var(--colour-text-500);
} h2 {
    font: var(--h2);
    color: var(--colour-text-500);
} h3 {
    font: var(--h3);
    color: var(--colour-text-500);
} h4 {
    font: var(--h4);
    color: var(--colour-text-400);
} h5 {
    font: var(--h5);
    color: var(--colour-text-400);
} p {
    font: var(--lp);
    color: var(--colour-text-400);
} .p {
    font: var(--p);
} a {
    font: var(--p);
    color: var(--colour-text-400);
    text-decoration: none;
} button {
    text-transform: uppercase;
    font: var(--btn);
    color: var(--colour-text-500);
    cursor: pointer;
}

body {
    background-color: var(--colour-background-400);
    justify-content: space-between;
    width: 100dvw;
    min-height: 100dvh;
}

body > * {
    padding-inline: var(--page-side-padding);
}

.flex, a {
    display: flex;
} .flex-column {
    display: flex;
    flex-direction: column;
} .fill-height {
    height: 100%;
}

button {
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
    align-items: center;
} .btn-filled {
    background-color: var(--colour-primary-500);
} .btn-outline {
    background-color: #5c27ce20;
    border: 3px solid var(--colour-primary-500);
    backdrop-filter: blur(20px);
}

img {
    height: 100%;
    width: 100%;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    background-color: #0f0f0f75;
    backdrop-filter: blur(20px);
    border-bottom: var(--border);
    box-shadow: 0 4px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-nav {
    gap: 30px;
}

.hero {
    height: 700px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero-stuff {
    max-width: 600px;
    gap: 25px;
} .hero-text {
    gap: 10px;
} .hero-titles {
    gap: 0px;
} .hero-buttons {
    gap: 25px;
}

.image-container {
    height: auto;
    width: 70%;
    position: absolute;
    filter: blur(10px);
    transform: rotateY(20deg) rotateZ(-15deg) rotateX(25deg);
    right: -10%;
    z-index: -1;
} .image-gradient {
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#0f0f0f00 67%, var(--colour-background-400) 71%);
    position: absolute;
}

.cards-hero {
    margin-block: 50px;
    align-items: center;
    justify-content: center;
    gap: 25px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 315px);
}

.card {
    width: 315px;
    aspect-ratio: 63 / 88;
    align-items: center;
    gap: 25px;
    filter: drop-shadow(20px 30px 4px var(--colour-background-500));
    border-radius: 25px;
    background-color: var(--colour-primary-800);
    border: solid var(--colour-primary-900) 15px;
} .card h5 {
    color: var(--colour-text-500);
}

.card-box {
    background-color: rgb(from var(--colour-background-200) r g b / 0.5);
    border: solid var(--colour-background-100) 1px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
} .card-box-padding {
    padding: 5px 10px;
} .card-innerbox {
    width: calc(100% + 2px);
    margin: -1px;
    background-color: transparent;
    justify-content: space-between;
}

.card-links{
    gap: 10px;
} .card-links svg {
    height: 24px;
    width: 24px;
}

.card .btn-filled {
    padding: 5px 10px;
    gap: 5px;
}

.card-image {
    height: 140px;
    width: 140px;
    background-image: var(--image);
    background-size: cover;
    border: solid var(--colour-primary-600) 2px;
    border-radius: 10px;
}

.footer {
    padding-block: 30px;
    gap: 30px;
    background-color: var(--colour-background-500);
    border-top: var(--border);
}

.footer-row {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-line {
    height: 1px;
    margin-inline: 25px;
    background-image: linear-gradient(to left, transparent 0%, var(--colour-background-300) 10%, var(--colour-background-300) 90%, transparent 100%);
}

.footer-logo {
    align-items: center;
    gap: 20px;
}
.footer-logo svg {
    height: 32px;
    width: 32px;
}
.footer-logo use {
    fill: var(--colour-primary-500);
    transform: scale(0.32);
}

.footer-socials {
    gap: 15px;
}
.footer-socials svg {
    height: 24px;
    width: 24px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 50px;
}
.footer-links-column {
    gap: 35px;
}
.footer-links-section {
    gap: 15px;
}
.footer-links-list {
    gap: 5px;
}

@media (width <= 1100px) {
    :root {
        --page-side-padding: 30px;
    }
}
@media (orientation: portrait) {    
    .image-container {
        width: 120%;
        right: -25%;
    }
}
@media (width <= 450px) {
    :root {
        --page-side-padding: 15px;

        --btn: bold 12px/15px var(--ff);
    }
    
    .header {
        --h4: bold 20px/25px var(--ff);
        --h5: bold 12px/15px var(--ff);
    }
    .header-nav {
        gap: 15px;
    }

    .hero {
        height: 500px;
    }
    .hero-buttons {
        gap: 15px;
    }

    .footer-row {
        flex-direction: column;
        gap: 15px;
    }
}