@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --color-aurora-400: #6b32de;
  --color-aurora-500: #5e27ce;
  --color-aurora-600: #420ea9;
  --color-aurora-700: #32068a;
}

* {
  font-family: "Rubik", sans-serif;
}